<div class="body">
  <div>
    <h1>Message board</h1>
    <div class="login-greeting" *ngIf="username || null">
      <div class="header"> <span>Welcome {{username}}. </span>Let's chat!</div>
      <div class="underline" (click)="onLogout()">Log out</div>
    </div>
    <div class="input-field" *ngIf="username || null">
      <app-input [title]="'Message'" (newValue)="msgInputHandler($event)" [inputValue]="newMsg" (hitEnter)="onSubmitMessage()"></app-input>
      <button (click)="onSubmitMessage()" style="width: fit-content">Send</button>
    </div>
    <div class="login" *ngIf="!username"><span class="underline" (click)="openLoginDialog()">Log in</span> to send your first message. </div>
    <app-login-dialog [invitationCode]="invitationCode" (userLoggedin)="getUsername()"></app-login-dialog>
  </div>
  
  <ul>
    <div class="message-box" *ngFor="let msg of messages" style="display: flex; gap:12px;">
      <div class="msg">{{msg.content}}</div>
      <div *ngIf="username?.length">from {{msg.user_id}}</div>
      <div>{{msg.created_at | date:'short'}}</div>
    </div>
  </ul>
</div>