<div>
  <h1>Data from Node.js Backend:</h1>
  <pre>{{ data | json }}</pre>
</div>

<div>
  <h1>Message board</h1>
  <h2>Let's chat!</h2>
  <div style="display: flex; gap:12px;">
    <app-input [title]="'Name'" (newValue)="nameInputHandler($event)"></app-input>
    <app-input [title]="'Message'" (newValue)="msgInputHandler($event)"></app-input>
    <button (click)="onSubmit()" style="width: fit-content">Send</button>
  </div>
</div>

<ul>
  <div *ngFor="let msg of messages">
    {{msg.content}}
  </div>
</ul>